    body{
        background-color: #13193d;
        margin: 0px;
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-style: normal;
    }
    h1{
        font-family: "Handjet", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
          "ELGR" 1,
          "ELSH" 2;
        font-size: 450%;
        color: #333233;
        margin-top: 28px;
        margin-left: 28px;
        margin-bottom: 28px;
    }
    h2{
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #333233;
        margin-top: 28px;
        margin-left: 28px;
        margin-bottom: 28px;
    }
    main {
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-style: normal;
        background-color: #bfcaeee8;
        height: 650px;
        width: 700px;
        padding: 10px;
        border-radius: 8px;
        margin: 10px auto 30px auto;
    }
    input[type=text]{
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-style: normal;
        height: 46px;
        width: 180px;
        border-radius: 4px;
        border: 1px solid white;
        box-shadow:  1px 1px 4px rgba(83, 83, 83, 0.632);
    }
    input[type=radio]{
        display: inline-block;
        border: none;
        margin: none;
        padding: none;
    }
    select{
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: larger;
        font-style: normal;
        text-align: center;
        height: 50px;
        width: 180px;
        border-radius: 4px;
        border: 1px solid white;
        box-shadow:  1px 1px 4px rgba(83, 83, 83, 0.632);
    }
    div{
        background-color: white;
        padding-left: 6px;
        padding-right: 2px;
        font-size: medium;
        box-shadow: 1px 1px 4px rgba(83, 83, 83, 0.632);
        border-radius: 4px;
    }
    button{
        background-color: #13193d;
        font-family: "Roboto Mono", monospace;
        color: #F9F8F6;
        cursor: pointer;
        font-weight: 400;
        font-style: larger;
        margin-left: 10px;
        height: 40px;
        width: 180px;
        border-radius: 30px;
        border: 1px solid white;
        box-shadow: 1px 1px 4px rgba(83, 83, 83, 0.632);
    }
    .glow-button {
        background: #13193d;
        box-shadow: 0 0 5px #e7ebfae8, 0 0 10px #e7ebfae8, 0 0 15px #e7ebfae8;
        transition: box-shadow 0.3s;
        border: 0px;
    }
    .glow-button:hover {
        box-shadow: 0 0 10px #262b46, 0 0 20px #262b46, 0 0 30px #262b46;
        border: 0px;
    }
    footer{
        background-color: #333233;
        color: #F9F8F6;
        text-align: center;
        padding: 1px;
        margin: 0px;
    }
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
      }